In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df = pd.read_excel(r'C:\Users\Raghav\Desktop\Solar Flare\Data\Final Data\sunspots_new.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8850 entries, 0 to 8849
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8850 non-null   int64
 1   X_Ray_Class              4425 non-null   object
 2   X_Ray_Intensity          4425 non-null   object
 3   Date                     8850 non-null   datetime64[ns]
 4   magnetic_classification  8850 non-null   object
 5   NOAA                     8850 non-null   int64
 6   zurich_class             8850 non-null   object
 7   penumbra_class           8850 non-null   object
 8   compactness_class        8850 non-null   object
 9   No_of_spots              8850 non-null   object
 10  longitudanal_extent      8850 non-null   object
 11  Area                     8850 non-null   object
 12  Status                   8850 non-null   object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 899.0+ KB

In [13]:
df = df.replace('           ', np.nan)
df = df.replace('', np.nan)
df = df.replace(' ', np.nan)
df = df.replace('  ', np.nan)
df = df.replace('   ', np.nan)
df = df.replace('    ', np.nan)
df = df.replace('     ', np.nan)

In [14]:
df.isna().sum()

Unnamed: 0                    0
X_Ray_Class                4425
X_Ray_Intensity            4426
Date                          0
magnetic_classification       2
NOAA                          0
zurich_class                992
penumbra_class              992
compactness_class          1061
No_of_spots                 991
longitudanal_extent        1269
Area                       1409
Status                        0
dtype: int64

In [15]:
df = df.drop(columns = ['X_Ray_Class', 'X_Ray_Intensity', 'Date', 'NOAA'])

In [16]:
df = df.drop(columns = ['Unnamed: 0'])

In [17]:
df = df.dropna()

In [18]:
df.isna().sum()

magnetic_classification    0
zurich_class               0
penumbra_class             0
compactness_class          0
No_of_spots                0
longitudanal_extent        0
Area                       0
Status                     0
dtype: int64

In [19]:
df.head()

,magnetic_classification,zurich_class,penumbra_class,compactness_class,No_of_spots,longitudanal_extent,Area,Status
0,B,C,S,O,5,3,30,Associated
1,B,B,X,O,2,2,10,Associated
2,B,B,X,O,2,2,10,Associated
3,B,B,X,O,2,2,10,Associated
4,B,C,R,O,3,3,30,Associated

In [20]:
df.tail()

,magnetic_classification,zurich_class,penumbra_class,compactness_class,No_of_spots,longitudanal_extent,Area,Status
8845,A,A,X,X,1,0,10,Unassociated
8846,A,A,X,X,1,0,0,Unassociated
8847,A,H,S,X,1,1,10,Unassociated
8848,B,B,X,O,3,6,10,Unassociated
8849,A,A,X,X,1,0,0,Unassociated

In [21]:
df['No_of_spots'] = df['No_of_spots'].astype('int')
df['longitudanal_extent'] = df['longitudanal_extent'].astype('int')
df['Area'] = df['Area'].astype('int')
#, 'longitudanal_extent', 'Area']

In [22]:
df['Status'].value_counts()

Associated      3784
Unassociated    3523
Name: Status, dtype: int64

In [23]:
df_majority = df[df['Status'] == 'Associated']
df_minority = df[df['Status'] == 'Unassociated']

In [24]:
from sklearn.utils import resample
df_upsampled = resample(df_minority,
                        replace = True,
                        n_samples = 3784)

In [25]:
df_upsampled['Status'].value_counts()

Unassociated    3784
Name: Status, dtype: int64

In [26]:
sunspots = pd.concat([df_upsampled, df_majority])

In [27]:
sunspots = sunspots.reset_index()

In [28]:
sunspots.head()

,index,magnetic_classification,zurich_class,penumbra_class,compactness_class,No_of_spots,longitudanal_extent,Area,Status
0,7651,A,H,R,X,1,1,30,Unassociated
1,5265,B,C,R,O,2,3,10,Unassociated
2,7992,B,C,R,O,5,10,20,Unassociated
3,8381,B,C,A,O,2,10,30,Unassociated
4,5493,B,E,S,O,5,12,120,Unassociated

In [29]:
sunspots.drop(columns= ['index'], inplace= True )

In [30]:
sunspots.to_excel('sunspots_cleaned.xlsx')